*.class

# Package Files #
*.jar
*.war
*.ear
.metadata/.plugins/org.eclipse.core.resources/.history/16/a00b93aa8a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/2b/0062c3b48a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/a8/e0d301cf8a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/af/a05635458a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/be/409892428a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/c0/00db82b88a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/f0/90e94e8f8a940016145cde61674ceb84
.metadata/.plugins/org.eclipse.core.resources/.history/ff/d036a6188b940016145cde61674ceb84
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/10.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
